* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Scada', sans-serif;
}

header {
  text-align: center;
  color: white;
  margin-top: -40px;
  padding-top: 20px;
  background-color: #222;
}

#button {
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}

a:hover {
  background-color: rgb(182, 10, 10) !important;
  color: yellow;
}


html {
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/marvelBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  /* z-index: -1; */
}

.card {
  box-shadow: 5px 5px 10px black;
}

#charimg img, #bio img, #media img {
  width: 100%;
}

footer {
  position: absolute;
  /* bottom: 0; */
  justify-content: center;
  background-color: #000;
  width: 100%;
  /* margin-bottom: -15px; */
}

@media screen and (max-width: 1000px) {
  footer {
    position: absolute;
    /* bottom: 0; */
  }
}