body {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Scada", sans-serif;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/OpenGraph-TW-1200x630.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100%;
  background-color: #333;
  background-image: radial-gradient( circle, rgb(110, 110, 110) 5%, rgba(51, 51, 51) 95% );
  color: #fff;
  opacity: .8;
}

.nav {
  width: 30em;
  text-shadow: 2px 2px black;
}

header h1 {
  font-size: 3rem;
  margin-top: 5px;
}

span {
  color: red;
}

#time {
  margin-top: -15px;
}

a {
  color: white;
}

main {
  position: relative;
  display: flex;
}

#input {
  margin-bottom: 15px;
}

#input-form {
  width: 250px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button {
  width: 100px;
  margin-top: 50px;
}

#button:hover {
  color: yellow;
  border: 1px solid yellow;
  background-color: rgb(182, 10, 10) !important;
}

label {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 2rem;
}

img {
 margin: 0;
 margin-top: 10px;
 padding: 0;
}

.options {
  position: relative;
  width: 325px;
  background-color: #333;
  background-image: radial-gradient( circle, rgb(110, 110, 110) 10%, rgba(51, 51, 51) 90% );
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px black;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: grey 10px 10px 10px;
  padding: 40px;
  padding-bottom: 10px;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .options {
    width: 200px;
  }

  #button {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .options {
    width: 200px;
  }

  #button {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .options {
    width: 200px;
    height: 420px
  }

  #button {
    width: 100px;
  }

  #time {
    display: none;
  }
}

.row {
  display: flex;
  flex-direction: column;
}

button {
  background-color: red !important;
  margin-top: 35px;
  border-radius: 10px !important;
  width: 21em;
  text-shadow: 2px 2px black;
  width: 50;
  margin: 0;
  padding: 0;
}


footer {
  position: absolute;
  bottom: 0px;
  background-image: radial-gradient( circle, rgb(0, 0, 0) 40%, transparent 60% );
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  margin-top: 17px;
  color: white;
  margin-top: 30px
}

footer img {
  margin-bottom: 10px
}

@media screen and (max-width: 1000px) {
  footer {
    position: absolute;
    bottom: 0;
  }

  img {
    display: none;
  }
}