body {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Scada", sans-serif;
  background-color: lightgrey;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 0px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

header h1 {
  font-size: 3rem;
  margin-top: 5px;
}

span {
  color: red;
}

#time {
  margin-top: -15px;
}

a {
  color: white;
}

main {
  position: relative;
  display: flex;
}

.spiderman {
  margin-right: 50px;
}

.ironman {
  margin-left: 50px;
}

label {
  text-align: center;
}

.options {
  position: relative;
  width: 400px;
  background-color: #333;
  text-align: center;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: grey 10px 10px 10px;
  padding: 50px;
}

@media screen and (max-width: 400px) {
  .options {
    width: 200px;
  }

  #button {
    width: 100px;
  }

  #time {
    display: none;
  }
}

.row {
  display: flex;
  flex-direction: column;
}

button {
  background-color: red !important;
  margin-top: 35px;
  border-radius: 10px !important;
  width: 21em;
}


footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: #000;
  width: 100%;
}

footer p {
  margin-top: 17px;
}

@media screen and (max-width: 1000px) {
  footer {
    position: absolute;
    bottom: 0;
  }

  .icon1,
  .icon2 {
    display: none;
  }
}
